/*for printing*/


@font-face {
    font-family: "barcode";
    src: url("3OF9_NEW.ttf") format("truetype");
    font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myriad-";
  src: url("MyriadPro-BoldCond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
    p.bar-code{
        position: absolute;
        top:-9px;
        left: 145px;
        font-family: "barcode";
        font-size: 21pt;
    }
    p.card-number{
        position: absolute;
        top: 35px;
        left: 240px;
        font-size: 4pt;
    }
    p.no-of-class{
        position: absolute;
        font-family: "myriad-";
        top: 47px;
        left: 62px;
        font-size: 10pt;
        font-weight: 600;
        color: #444;
    }
    p.no-of-days{
        font-family: "myriad-";
        position:absolute;
        top: 47px;
        left: 115px;
        font-size: 10pt;
        font-weight: 600;
        color: #444;

    }
    p.date-purchase{
        font-family: "myriad-";
        position: absolute;
        top: 116px;
        left: 115px;
        font-size: 9px;

    }
    p.date-expiration{
        font-family: "myriad-";
        position: absolute;
        top: 116px;
        left: 220px;
        font-size: 7pt;

    }




