
<div class="page page-invoice">

    <div class="invoice-wrapper">
        <section class="invoice-container" id="invoice">
            <div class="giftcardId-inner" >
            <!-- style="margin: -8px -8px;" -->
                <!-- <img src="images/giftcard/gc_ref.jpg" alt="" width="475px"> -->
                <p class="bar-code">{{vm.newGiftcard.card_number}}</p>
                <p class="card-number">{{vm.newGiftcard.card_number}}</p>
                <p class="no-of-class">{{vm.pack.no_of_class}}</p>
                <p class="no-of-days">{{vm.pack.expiration}}</p>
                <p class="date-purchase">{{vm.today | date:'mediumDate'}}</p>
                <p class="date-expiration">{{vm.date_expiration | date:'mediumDate'}}</p>
            </div>
        </section>

        <section class="text-center no-print">
            <a href="" ng-click="vm.printGiftcard()" class="btn btn-primary btn-lg btn-w-lg"><i class="fa fa-print"></i> Print</a>
        </section>
    </div>
</div>