<div class="page page-invoice" data-ng-controller="invoiceCtrl">

    <div class="invoice-wrapper">
        <section class="invoice-container" id="invoice">
            <div class="invoice-inner">
            <!-- background: url('images/1b.jpg') ; width: 342px;height: 228px;  -->
                <img src="images/1b.jpg" alt="">

                <!-- HTML print -->
                <!-- <div class="row">
                    <div class="col-sm-1" style="border:#ada32d dotted 1px;">
                        asdasd
                    </div>
                    <div class="col-md-8" style="border:black dotted 1px;">
                        <div class="row" >
                            <div class="col-md-6">
                                <h4>GIFT CARD</h4>
                            </div>
                            <div class="col-md-6">
                                <h4>some bar code here...</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-muted">This giftcard is inclusive of</p>

                                <div class="well well-sm">4 Classes cosumable for 15 Days upon activation</div>
                                <p class="text-muted">*Once activated .............</p>
                                <p class="text-muted">*Non-transferable once activated.</p>
                                <p class="text-muted">*Not valid for G-Force Project. Not valid for Zumba and Whiteshirtlove</p>

                                 <p>This card has limited validity. Please use within 1 year upon purchase.
                                 </p>
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-md-6">Date Purchase: December 25, 2014</div>
                                        <div class="col-md-6">Valid Until: December 25, 2015</div>
                                    </div>
                                </div>
                                 <br>
                                  <p>For Inquiries, Call 0917-8436723(GFORCE)</p>
                                  <p>2014 G-Force Dance Center Corporation. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </section>

        <section class="text-center no-print">
            <a href="" ng-click="printInvoice()" class="btn btn-primary btn-lg btn-w-lg"><i class="fa fa-print"></i> Print</a>
        </section>
    </div>
</div>