<div class="page" data-ng-controller="DanceClassDetailCtrl as vm">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong><span class="glyphicon glyphicon-th"></span> Time In</strong>
                </div>
                <div class="panel-body">
                    <form name="form_signin" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="">Gift Card Number</label>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" ng-model="vm.selected"
                                        typeahead="giftcard as giftcard.card_number for giftcard in vm.giftcards | filter:$viewValue | limitTo:5" class="form-control" placeholder="Enter Card Number" focus-on event="itemFocus"
                                        required>
                                </div>
                            </div>
                            <!-- button here -->
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row" data-ng-show="vm.cacheData.card_number">
                <!-- cardholder profile -->
                <div class="col-md-12">
                    <!-- profile panel -->
                    <div class="panel panel-profile">
                        <div class="panel-heading text-center bg-info">
                            <h3>{{vm.cacheData.card_number}}</h3>
                            <p>{{vm.cacheData.student_name}}</p>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h4">
                                    {{vm.cacheData.date_purchase | date:'mediumDate'}}
                                    </p>
                                    <p class="text-muted">Date Purchase</p>
                                </li>
                                <li>
                                    <p class="size-h4 color-info">
                                        {{vm.cacheData.date_activated | date:'mediumDate'}}
                                    </p>
                                    <p class="text-muted">Date Activated</p>
                                </li>
                                <li>
                                    <p class="size-h4 color-danger">
                                        {{vm.expiration}}
                                    </p>
                                    <p class="text-muted">Date of Expiration</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end profile panel -->

                    <!-- mini box -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel mini-box">
                                <span class="box-icon rounded bg-danger">
                                    <i class="fa fa-star"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h3">{{vm.cacheData.package.name}}</p>
                                    <p class="text-muted">Package Name</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel mini-box">
                                <span class="box-icon rounded bg-warning">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h3">{{vm.cacheData.package.expiration}}</p>
                                    <p class="text-muted">Days of Card Consumability</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel mini-box">
                                <span class="box-icon rounded bg-success">
                                    <i class="fa fa-check-square"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h3">{{vm.cacheData.package.no_of_class}}</p>
                                    <p class="text-muted">No. of Classes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel mini-box">
                                <span class="box-icon rounded bg-info">
                                    <i class="fa fa-check"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h3">{{vm.cacheData.remaining_class}}</p>
                                    <p class="text-muted">Remaining No. of Classes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end mini box -->
                </div>
                <!-- end cardholder profile -->

                <!-- Classes Attended Table -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong><span class="glyphicon glyphicon-th"></span> Classes Attended</strong>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover" data-ng-show="vm.cacheData.giftcardlogs">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Class Name</th>
                                        <th>Teacher</th>
                                        <th>Time</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="giftcardlog in vm.cacheData.giftcardlogs">
                                        <td>{{giftcardlog.id}}</td>
                                        <td>{{giftcardlog.danceclass.dancestyle.name}}</td>
                                        <td>{{giftcardlog.danceclass.teacher.name}}</td>
                                        <td>{{giftcardlog.danceclass.time}}</td>
                                        <td>{{giftcardlog.danceclass.date | date: 'fullDate'}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end Classes Attended Table -->
            </div>
        </div>
        <div class="col-md-6">
            <!-- Class Info panel -->
            <div class="panel panel-profile">
                <div class="panel-heading bg-primary clearfix">
                    <a href="" class="pull-left profile">
                        <img alt="" ng-src="images/teachers/{{vm.danceClass.teacher.profile_pic}}.jpg" class="img80_80">
                    </a>
                    <h3>{{vm.danceClass.dancestyle.name}}</h3>
                    <p>by {{vm.danceClass.teacher.name}}</p>
                </div>
                <ul class="list-unstyled list-info">
                    <li>
                        <span class="icon glyphicon glyphicon-map-marker"></span>
                        <label>Studio</label>
                        Studio {{vm.danceClass.studio_id}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-time"></span>
                        <label>Time</label>
                        {{vm.danceClass.time}}
                    </li>
                    <li>
                        <span class="icon glyphicon glyphicon-calendar"></span>
                        <label>Date</label>
                        {{vm.danceClass.date | date: 'fullDate'}}
                    </li>
                </ul>
            </div>
            <!-- end Class Info panel -->

            <div class="row">
                <!-- Classes Attended Table -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong><span class="glyphicon glyphicon-th"></span> Current Student</strong>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Card Number</th>
                                        <th>Student Name</th>
                                        <th>Package</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="giftcard in vm.danceClass.giftcardlogs ">
                                        <td>{{$index + 1}}</td>
                                        <td>{{giftcard.giftcard.card_number}}</td>
                                        <td>{{giftcard.giftcard.student_name}}</td>
                                        <td>{{giftcard.giftcard.package_id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end Classes Attended Table -->
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="warningModalContent.html">
      <div class="modal-header bg-warning">
      <h3><span class="glyphicon glyphicon-warning-sign"></span> Warning</h3>
      </div>
      <div class="modal-body">
        <h3>Card Not Valid</h3>
        <p>Card Not valid due to blah blah blah...</p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">OK</button>
      </div>
    </script>
</div>