<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Edit Dance Class</strong></div>
        <div class="panel-body">
        <h3>Dance Class: {{vm.danceClass.dancestyle.name}} with {{vm.danceClass.teacher.name}}</h3>
             <form name="form_editDanceClass" class="form-horizontal form-validation" data-ng-submit="vm.submitForm()">
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="">Dance Style: </label>
                        </div>
                        <div class="col-sm-3" data-ng-show="vm.dancestylesLoaded" >
                            <ui-select ng-model="vm.dancestyle.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
                            <ui-select-match placeholder="Select or search a dance style in the list...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="dancestyle in vm.dancestyles | filter: $select.search">
                                  <span ng-bind-html="dancestyle.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="">Teacher:</label>
                        </div>
                        <div class="col-sm-4" data-ng-show="vm.teachersLoaded">
                            <ui-select ng-model="vm.teacher.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
                                <ui-select-match placeholder="Select or search a teacher in the list...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="teacher in vm.teachers | filter: $select.search">
                                      <span ng-bind-html="teacher.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="">Studio:</label>
                        </div>
                        <div class="col-sm-4" data-ng-show="vm.teachersLoaded">
                            <ui-select ng-model="vm.studio.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
                                <ui-select-match placeholder="Select Studio">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="studio in vm.studios | filter: $select.search">
                                      <span ng-bind-html="studio.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label for="">Time: </label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text"
                                   class="form-control"
                                   required
                                   data-ng-model="vm.danceClass.time">
                        </div>
                    </div>
                    <button type="submit"
                            class="btn btn-success btn-w-md"
                            data-ng-click="vm.updateDanceClass(vm.danceClass.id)"
                            >Update
                    </button>

                </fieldset>
             </form>
        </div>
    </section>

</div>